@import "../../styles/global/global.scss";

.songs-on-album-article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: $white;
}
.title-songs-all-div {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.1rem solid $grey-700;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.songs-on-album-h {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.songs-on-album-ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 1rem;
  gap: 1rem;
}
.song-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  /* border-bottom: 0.1rem solid $grey-700; */
}

.number-song {
  width: 2rem;
  font-weight: 700;
  color: $white;
}

.song-title {
  width: auto;
}
