@import "../../styles/global/global.scss";

.btnAddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 3rem;
  font-weight: 700;
  color: $black-700;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  border-radius: 2rem;
  background-color: $eastern-blue;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $ming-blue;
    color: $white;

    .circleFilled-icon path {
      fill: $white;
    }
    /* &:focus {
      border: 0.2rem solid $eastern-blue;
    } */
    &:focus-within {
      box-shadow: inset 0 0 0 0.2rem $white;
      outline: none;
    }
  }
}

.circleFilled-icon {
  width: 0.25rem;
  height: auto;
  margin-inline: 0.5rem;
  path {
    fill: $black-700;
    transition: fill 0.3s ease-in-out;
  }
}
