@import "../../styles/global/global.scss";

.btn-reset-searching {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  width: auto;
  height: auto;
  cursor: pointer;
}
