@import "../../styles/global/global.scss";

/* icons-view-chooser */

.btn-toggle-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $grey-700;
  }
  &:focus-within {
    background-color: $grey-700;

  }
}
