@import '../../styles/global/global.scss';


.input-zip-code-container {
    display: flex;
    flex-direction: column;
  }
  #input-zip-code {
    background-color: transparent;
    outline: 0;
    width: 100%;
    height: auto;
    border: 0.1rem solid $grey-700;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: $white;
  }
  #input-zip-code:focus {
    border-color: $ming-blue;
  }
  
  #input-zip-code:focus-visible {
    border-color: $ming-blue;
  }
  
  //div help
  #div-zip-codeHelp {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
  }
  
  #zip-codeHelp {
    color: $red-300;
  }
  

  