@import "../../styles/global/global.scss";

.input-phone-number-container {
  display: flex;
  flex-direction: column;
}

#input-phone-number {
  background-color: transparent;
  outline: 0;
  width: 100%;
  height: auto;
  border: 0.1rem solid $grey-700;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: $white;
}

#input-phone-number:focus {
  border-color: $ming-blue;
}

#input-phone-number:focus-visible {
  border-color: $ming-blue;
}

.invalid-phone-number {
  border-color: 0.2rem solid $red-300;
}

.invalid-message-phone-number {
  color: $red-300;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
