@import "../../styles/global/global.scss";
.input-password-container {
  display: flex;
  flex-direction: column;
}

#input-password {
  background-color: transparent;
  outline: 0;
  width: 100%;
  height: auto;
  border: 0.1rem solid $grey-700;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: $white;
}

#input-password:focus {
  border-color: $ming-blue;
}

#input-password:focus-visible {
  border-color: $ming-blue;
}

.invalid-password {
  border-color: $red-300;
}

.invalid-message-password {
  color: $red-300;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
