@import "../../styles/global/global.scss";

.radio-tile {
  position: relative;
  &:focus-visible {
    border-color: $eastern-blue;
    outline: none;
  }
}

// radio tile
.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 5rem;
  border-radius: 0.5rem;
  border: 2px solid $grey-700;
  background-color: $black-700;
  transition: 0.1s ease;
  cursor: pointer;
  position: relative;
  padding-inline: 0.5rem;

  // styles for dot inside the radio tile
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1rem solid $grey-600;
    background-color: transparent;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transition: 0.25s ease;
  }

  &:hover {
    border-color: $eastern-blue;

    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}
// styling for radio label
.radio-label {
  color: $white;
  transition: 0.3s ease;
  text-align: center;
  font-size: 1rem;
}
// Styling for radio input (hidden)
.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
// Styling for dot inside the radio tile when input is checked
.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: $eastern-blue;
  border-color: $eastern-blue;
}
// styling for radio label when input is checked
.radio-input:checked + .radio-tile .radio-label {
  color: $white;
  font-weight: 700;
}
