@import "../../styles/global/global.scss";

.star-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

//text

.p-div-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
.p-choose-stars {
  font-size: 1.1rem;
  color: $white;
  font-weight: 700;
}
//end text

.div-stars-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.label-radio-stars {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0.5rem;
  /* :focus-within */
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 0.2rem inset $white;
    padding: 0.5rem;
  }
}

input[type="radio"] {
  display: none;
}

input:checked + .icon-star-filled {
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
