@import "../styles/global/global.scss";

.aside-cart {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $black-900;
 /*  overflow: hidden; */
}

.cart-devider-separator {
  width: 100%;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
}
// content if empty cart
.content-empty-cart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
// content if fillcart
.content-fill-cart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.all-text-cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-text-cart {
  font-size: 1.1rem;
}
.h-cta-cart {
  font-size: 1.2rem;
font-weight: 700;
}
.btn-continue-div-wrapper {
  display: flex;
  width: 100%;
}

//after devider separator on top
.h-categories-cart {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
}

.cart-devider-separator-smaller {
  width: auto;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
  margin-inline: 1rem;
}
//you might like

.customer-favorities-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (min-width: 560px) {
  .aside-cart {
    width: 80%;
  }
}
@media (min-width: 660px) {
  .aside-cart {
    width: 60%;
  }
}
 @media (min-width: 768px) {
  .aside-cart {
    width: 50%;
    max-width: 40rem;
  }
} 
