@import "../styles/global/global.scss";

.backdrop-favorites {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.aside-favorites {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $black-900;
}

.favorites-devider-separator {
  width: 100%;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
}
// content if empty favorites
.content-empty-favorites {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
// content if fill favorites
.content-fill-favorites {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.ul-product-list-fav {
  padding: 0;
}
.all-text-favorites {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-text-favorites {
  font-size: 1.1rem;
  color: $grey-600;
}
#summary-p-text-favorites {
  margin-bottom: 1rem;
}
.h-favorites {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

//after devider separator on top
.h-categories-favorites {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
}

.favorites-devider-separator-smaller {
  width: auto;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
  margin-inline: 1rem;
}

//customer favorites

.customer-favorities-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (min-width: 560px) {
  .aside-favorites {
    width: 80%;
  }
}
@media (min-width: 660px) {
  .aside-favorites {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .aside-favorites {
    width: 50%;
    max-width: 40rem;
  }
}
