@import ".././styles/global/global.scss";

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: $white;
}

.card-homepage-div {
  margin: 1rem;
}

//grid
.home-content-grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

@media (min-width: 1024px) {
  .home-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns */
    width: 100%;
    height: auto;
    gap: 1rem;
  }
}
