@import ".././styles/global/global.scss";

.home-content {
  color: $white;
 
}


.product-big-section-homepage {
  background-color: $eastern-blue;
  height: auto;
  width: 100%;
  top: 1rem;

  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;

  z-index: -1;
}
/* .product-big-section-homepage { 
  width: 100%;
}
 */