@import "../styles/global/global.scss";

.backdrop-paymentAfterGreetings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("./../assets/img/tlo-checkout3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aside-paymentAfterGreetings {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: $black-900;
  color: $white;
}

.paymentAfterGreetings-devider-separator {
  width: 100%;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
}
// content if empty paymentAfterGreetings
.content-empty-paymentAfterGreetings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
// content if fill paymentAfterGreetings
.content-fill-paymentAfterGreetings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.ul-product-list-paymentAfterGreetings {
  padding: 0;
}
.all-text-paymentAfterGreetings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-text-paymentAfterGreetings {
  font-size: 1.1rem;
  color: $grey-600;
}
.paymentAfterGreetings-disclaimer-paymentAfterGreetings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.p-text-paymentAfterGreetings-disclaimer {
  font-size: 1rem;
  color: $grey-600;
}
.h-paymentAfterGreetings {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.btn-continue-div-wrapper {
  display: flex;
  width: 100%;
}

//after devider separator on top
.h-categories-paymentAfterGreetings {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
}

.paymentAfterGreetings-devider-separator-smaller {
  width: auto;
  border: 0.1rem solid $black-700;
  margin-block: 0.5rem;
  margin-inline: 1rem;
}

//paymentAfterGreetings
.btn-continue-div-wrapper.disabled {
  pointer-events: none;
  opacity: 0.5;
}

//customer favorites

.customer-favorities-paymentAfterGreetings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* @media (min-width: 560px) {
  .aside-paymentAfterGreetings {
    width: 80%;
  }
}
@media (min-width: 660px) {
  .aside-paymentAfterGreetings {
    width: 50%;
  }
} */
@media (min-width: 768px) {
  .aside-paymentAfterGreetings {
    width: 60%;
    max-width: 40rem;
  }
}
