@import "../styles/global/global.scss";

main {
  padding: 1rem;
}
.section__1-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.div-temporary {
  width: 100%;
  height: auto;
}
.h1-details {
  color: $white;
}
.name-of-item {
  color: $amulet-green;
}
.div-name-of-item {
  background-color: $grey-700;
  width: 10%;
}
