@import ".././styles/global/global.scss";

.h-and-change-view-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.h-products-page {
  font-size: 1.2rem;
  font-weight: 700;

  text-transform: uppercase;
}
.products-page-container {
  width: 100%;
  height: auto;
}
//! if is grid choosen
.ul-list-productsMain--grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: auto;
}
//! if is list choosen
.ul-list-productsMain--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-productsMain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: minmax(90%, 100%);
  max-width: 100%;
  height: auto;
}

/* @media (min-width: 360px) {
  .li-productsMain {
    //change width for 100% when screen > 360px
    width: 100%;
  }
} */
@media (min-width: 425px) {
  .ul-list-productsMain {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
  .li-productsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
}
