@import "../styles/global/global.scss";

.all-search-page {
  background-color: $black-900;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: sticky;
  overflow: hidden;
  /*  z-index: 2; */
  /* padding: 1rem;  */
}

.categories-search-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.search-results {
  width: 100%;
  height: auto;
}

.ul-search-page {
  background-color: $black-900;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.addictional-content-search-result {
  margin-top: 2rem;
}

.error-message-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: 1rem;
}

.p-error-message {
  color: $white;
  font-size: 1.1rem;
}
