@import "../styles/global/global.scss";

.subpage {
  width: 100%;
}

.head-of-subpage {
  border-bottom: 0.1rem solid $amulet-green;
}

.h-text-subpage {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $amulet-green;
  margin: 1rem 0;
}
.p-subpage-description {
  font-size: 1rem;
  color: $grey-600;
  margin-block: 1rem;
  max-width: 60ch;
}
//content

.h-inside-content-section-subpage {
  font-size: 1.1rem;
  color: $eastern-blue;
  margin: 1rem 0;
}

.content-into-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.div-h5-p-into-subpage {
  padding-bottom: 1rem;
  max-width: 60ch;
}

.h5-into-subpage {
  padding-bottom: 0.5rem;

  color: $white;
}
.h-project-info {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: $white;
}
.p-into-subpage {
  color: $grey-600;
  max-width: 60ch;
}

.btn-checkwebsite-div {
  margin-top: 1rem;
}

.ul-accordions-into-subpage {
  padding: 0;
  margin-bottom: 1rem;
}
.li-accoridon-subpages {
  padding-bottom: 1rem;
}

.section-focus {
  position: relative;
  &:focus-visible {
    box-shadow: 0 0 0 0.2rem inset $white;
    outline: none;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .subpage {
    width: 60%;
    padding: 1rem;
  }
}
