@import "../../styles/global/global.scss";

.slider-homepage {

  overflow-y: hidden;
}

.you-might-like-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
 padding: 1rem;
  overflow: hidden;
}

.h-youMightLike-homepage {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.div-youMightLike-homepage {
  width: 100%;
}

.li-youMightLike-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 100%;
  height: auto;
}
/* 
@media (min-width: 360px) {
  .li-youMightLike-homepage {
    width: 100%;
  }
}

@media (min-width: 425px) {
  .you-might-like-homepage {
    display: block;
    width: 100%;
    height: auto;
  }
  .li-youMightLike-homepage {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .li-youMightLike-homepage {
    width: 100%;
    height: auto;
  }
}
 */