@import "../../styles/global/global.scss";

.card-footer-small {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  height: auto;
  /*   background-color: $black-900; */
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem;
  /*  border: 0.1rem solid $grey-700; */
  color: $white;
  overflow: hidden;
}

// styling for all Accordions Answer components
.accordion-footer-answer-div {
  display: flex;
  width: auto;
  height: auto;
}
.accordion-footer-answer-ul {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 0.5rem;
  height: auto;
  padding: 0;
}

/*  @media (min-width: 801px) {
.card-footer-small {
  max-height: 28rem;
}
} 
@media (min-width: 894px) {
  .card-footer-small {
    max-height: 28rem;
  }
  } */
