@import "../../styles/global/global.scss";

.card-footer-big {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* background-color: $black-900; */
  border-radius: 1rem;
  padding: 1rem;
  /*  border: 0.1rem solid $grey-700; */
  color: $white;
  overflow: hidden;
}
.list-of-pages {
  padding: 0;
}

.socials-badges-rights-div {
  padding: 1rem;
}

@media (min-width: 801px) {
  .list-of-pages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: auto;
    height: auto;
    margin-top: 4.5rem;
  }
}

@media (min-width: 1365px) {
  .list-of-pages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: auto;
    height: auto;
    margin-top: 4.5rem;
  }
}
