@import "../../styles/global/global.scss";

.homepage-social-links-section-homepage {
  /*  margin-block: 1rem; */
 max-width: 56rem;
  /* max-width: 27.5rem; */

  min-width: 18rem;
  min-height: 9.5rem;
  height: auto;
  width: 100%;
  background-color: $black-700;
  color: $white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.icon-wrapper-homepage {
  padding: 0.5rem;
  cursor: pointer;
}

.h-streaming-logos-homepage {
  margin-block: 1rem;
  font-size: 1.1rem;
  color: $white;
}
.btn-homepage-website {
  padding-block: 1rem;
}

/* @media (min-width: 630px) {
  .homepage-social-links-section-homepage {
    max-width: 27.5rem;
   
  }
} */