@import "../../styles/global/global.scss";

.product-big-section-homepage {
  margin-block: 1rem;
  max-width: 56rem;
  height: auto;
  width: 100%;
  background-color: #3a0606;
  /* background-color: #2b0000; */
  /*  background-color: #3a0606; ALBUMS */
  /* background-color: #35063a; ALBUMS OR TICKETS*/
  /* background-color: #17063a;  TICKETS*/
  /* background-color: #06133a; */
  /* background-color: #06273a;  tshirts*/
  /* background-color: #063a36;  gadgets*/
  /* background-color: #063a20;  POSTERS*/
  /* background-color: #3a2906;  puzzles*/
  /* background-color: #3a1906; */
  color: $eastern-blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.big-card-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.big-card-homepage-pre-head {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.big-card-homepage-h {
  /*  text-align: center; */
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.big-card-homepage-p {
  max-width: 60ch;
  margin-block: 1rem;
  font-size: 1rem;
  margin-top: auto; //margin auto top
}
.btn-center-big-card-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: auto; //margin auto top
}
.link-to-into-big-card-homepage {
  width: 100%;
  height: auto;
  text-decoration: none;
  margin-block: 1rem;
}
.link-to-into-big-card-homepage-Text {
  color: inherit;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $grey-600;
  }
}

.big-card-homepage-img-shape {
  width: 16rem;
  height: 14rem;
  overflow: hidden;
}

.big-card-homepage-div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 2rem;
}

//img
.big-card-homepage-img-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.5rem 4rem 1rem 4rem;
}

.big-card-img {
  width: 16rem;
  height: 16rem;
  max-width: 16rem;
  max-height: 16rem;
}

//media query
@media (min-width: 360px) {
  .product-big-section-homepage {
    padding: 1rem;
  }
}

@media (min-width: 660px) {
  .big-card-homepage {
    display: grid;
    grid-template-rows: (2, 2fr);
    width: 100%;
    height: auto;
  }

  .big-card-homepage-h {
    /*  text-align: center; */
    width: 50%;
  }
  .row-for-img-h-card-homepage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .big-card-homepage-div-img {
    margin-block: 2rem;
    width: 50%;
  }
}

/* 1024px */
@media (min-width: 1024px) {
  .product-big-section-homepage {
    padding: 1rem;
    margin: 0;
  }
  .big-card-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 28rem;
    height: 42rem;
  }

  .big-card-homepage-h {
    width: 100%;
  }
  .row-for-img-h-card-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .big-card-homepage-div-img {
    margin-block: 2rem;
    width: 100%;
  }
  .link-to-into-big-card-homepage {
    width: 100%;
    height: auto;
    text-decoration: none;
    margin-block: 1rem;
  }
}
