@import "../styles/global/global.scss";

.h2-radio-chooser {
  font-size: clamp(1rem, 0.5rem + 1.5vw, 1.1rem);
}

.div-radio-chooser {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
