@import "../styles/global/global.scss";
@import ".././styles/global/global.scss";

.you-might-like-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;

}

.h-youMightLike-cart {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.ul-list-youMightLike-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 /*  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); */
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-youMightLike-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  //change width for 90% when screen < 360px
  width: 90%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 360px) {
  .li-youMightLike-cart {
    //change width for 100% when screen > 360px
    width: 100%;
  }
}
@media (min-width: 425px) {
    .you-might-like-cart {
        display: block;
        width: 100%;
        height: auto;
        
      }
  .ul-list-youMightLike-cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
  .li-youMightLike-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
}
