@import "../styles/global/global.scss";

// direction is set to column
footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 1rem;
  gap: 1rem;
  //margin like in you might like section
  margin-top: clamp(4rem, 3vw + 1rem, 8rem);
}

footer::before {
  top: 1rem;
  content: "";
  position: absolute;
  /* top: 0; */
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/others/Project Capture.jpg");
  background-size: fill;
  filter: blur(0.3rem);
  filter: saturate(0.7rem);
  filter: contrast(1.8rem);
  opacity: 0.3;
  z-index: -1;
}
.comeback-btn-footer {
  grid-column: span 1;
  justify-self: flex-end;
}

/*  2fr: first column should take up twice as much space as 1fr,
 2.44fr: second column should take up 2.44 times more space than 1fr.
Together, columns will occupy the available space in a 2:2.44 ratio, resulting in a 45% to 55% proportion.
together, columns will occupy the available space in a 2: 2.44 ratio,
  resulting in a 45% to 55% proportion  */

@media (min-width: 801px) {
  footer {
    grid-template-columns: 2fr 2.44fr;
  }

  //it takes with of 2 columns
  .comeback-btn-footer {
    justify-self: flex-end;
    grid-column: span 2;
  }
}
