@import "../styles/global/global.scss";

.div-img-all,
.div-img-bottom-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-inline-size: 100%;
  block-size: auto;
  position: relative;
}
.div-img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  max-inline-size: 60%;
  block-size: auto;
  min-height: 8rem;
  min-width: 8rem;
  border-radius: 0.2rem;
}

/* .main-img {
  max-inline-size: 60%;
  block-size: auto;
  min-height: 8rem;
  min-width: 8rem;
} */
.bottom-images {  border-radius: 0.2rem;
  max-inline-size: 30%;
  block-size: auto;
  aspect-ratio: 1/1;
}
.div-img-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;

}
 
 .star-icon path {
  fill: $gold;
  stroke: $gold;
  stroke-width: 0.1rem;
} 
//badge with heart icon
.badge {
  position: absolute;
  top: 0;
  right: 0;
}
