@import "../styles/global/global.scss";

.div-img-all,
.div-img-bottom-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-inline-size: 100%;
  block-size: auto;
}
.div-img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.main-img {
  max-inline-size: 60%;
  block-size: auto;
  aspect-ratio: 1/1;
}
.bottom-images {
  max-inline-size: 30%;
  block-size: auto;
  aspect-ratio: 1/1;
}
.div-img-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}
