@import ".././styles/global/global.scss";

.you-might-like {
  margin-top: clamp(4rem, 3vw + 1rem, 8rem);
}

.h-youMightLike {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.ul-list-youMightLike {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-youMightLike {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
