@import "../../styles/global/global.scss";

.dialog-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
  outline: 0;
  border: 0;
  border-bottom: 0.2rem solid $black-700;
  border-radius: 0 0 0.5rem 0.5rem;
  max-height: 4rem;
  z-index: 2;
  font-weight: 600;
  overflow-y: hidden;
}
.p-dialog-cart {
  font-size: 1.1rem;
}
#p-dialog-cart-red,
#p-dialog-fav-red {
  color: $white;
}

.dialog-cart-fill {
  background-color: $amulet-green;
}

.dialog-cart-empty {
  background-color: $red-700;
}

.dialog-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
  outline: 0;
  border: 0;
  border-bottom: 0.2rem solid $black-700;
  border-radius: 0 0 0.5rem 0.5rem;
  max-height: 4rem;
  z-index: 2;
}
