@import "../../styles/global/global.scss";

.forgot-password-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.p-forgot-password {
  font-size: 0.8rem;
  color: $white;
  /*   border-bottom: 0.1rem solid $amulet-green; */
  position: relative;
}

.p-forgot-password::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: $amulet-green;
  transition: width 0.4s ease, left 0.4s ease;
}

.p-forgot-password:hover::after {
  width: 100%;
  left: 0;
}
