@import "../../styles/global/global.scss";

/* .sort-comments-by-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: auto;
  height: auto;
  background-color: $black-700;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  color: $white;
  transition: 0.2s ease-in-out;
  &.icon-chevron-down path {
    fill: currentColor;
}
  &:hover {
    color: $grey-600;
    &.icon-chevron-down path {
        fill: $grey-600;
    }
  }
}
 */
 .sort-comments-by-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;

  margin-left: 0.5rem;
  color: $white;
  transition: 0.2s ease-in-out;



 /* */
.sort-comments-p {
  margin-right: 1rem;
}

}
.icon-chevron-down path,
.icon-chevron-up path {
  fill: $white; 
}

.btns-sort-comments {
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 padding: 0.5rem;
 border-radius: 50%;
 background-color: transparent;
 outline: 0;
 border: 0;

 &:hover {
  background-color: $black-700;
  transition: 0.2s ease-in-out;

  .icon-chevron-down path,
  .icon-chevron-up path {
    fill: $grey-500; 
  }
}
}