@import "../../styles/global/global.scss";

.h-top-aside-nav {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.page-name-and-dynamic-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.top-of-aside-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  min-height: 72px;
}

@media (min-width: 425px) {
  .top-of-aside-nav {
    padding: 1.5rem;
    min-height: 88px;
  }
}

.btn-not-clickable {
  pointer-events: none;
}
