@import "../../styles/global/global.scss";

.text-with-icon-delivery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.text-delivery {
  font-size: 0.9rem;
}
